[user]
	name = Eduardo Colabardini
	email = eduardocolabardini@gmail.com
[push]
	default = simple
[branch]
	autosetuprebase = always
[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        unstage = reset HEAD --
        coall = checkout -- .
        clear = clean -xdf
        apply-gitignore = !git ls-files -ci --exclude-standard -z | xargs -0r git rm --cached

